* {
    font-family: Roboto, Arial, sans-serif;
    margin: 0px;  
}


/* Search bar and logo css */
.center{
    padding-top: 175px; 
    display: block; 
    width: 50%;
    margin: auto; 
}

#logo {
    display: block; 
    width: 50%; 
    margin: auto;
    padding-bottom: 20px;  
}

.searchbar {
    display: block; 
    width: 100%;
    margin: auto; 
    height: 40px;
    border: 1px solid rgb(218, 218, 218); 
    border-radius: 20px;
    background-color: white;
    margin-bottom: 20px;  
}

.button-group {
    display: block; 
    text-align: center;
}

.button {
     margin: 10px;
     height: 40px;
     width: 140px; 
     background-color: #f5f5f5;
     border: 0px;
     border-radius: 5px;
     font-size: 14px;    
}

/*Nav bar css */ 
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 25px 20px 0px 20px;    
}

.nav-left, .nav-right {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    flex-grow: 0.05;
}

.nav-left {
    flex-grow: 0.03; 
}

.nav-left> a,.nav-right > a {
    color: #3F3F3F;
    text-decoration: none; 
}

#Sign-in {
    height: 30px;
    width: 70px;  
    background-color: rgb(45, 99, 248); 
    color: white;
    border: none; 
    border-radius: 3px;
    font-weight: bold; 
}


footer {
    margin: 250px 0px 0px 0px; 
    background-color: #F2F2F2;
    height: 40px;
    padding-bottom: 20px;
    margin-bottom: 0px;

}

footer>.navigation>div>a {
    color: #888888; 
}